<!DOCTYPE html>
<html>
    <header>
        <title>Web Chat</title>
    </header>
    <body>
        <div id="painel">
            <form id="formNickname" action="">
                <input
                    id="inputNickname"
                    data-testid="nickname-box"
                    autocomplete="off"
                    placeholder="Insira seu nickname"
                >
                <button data-testid="nickname-button">Salvar</button>
            </form>
            <ul id="users"></ul>
        </div>

        <ul id="messages"></ul>

        <form id="formMessage" action="">
            <input
                data-testid="message-box"
                id="inputMessage"
                autocomplete="off"
                placeholder="Digite uma nova mensagem"
            >
            <button data-testid="send-button">Enviar</button>
        </form>

        <script src="/socket.io/socket.io.js"></script>
        <script src="./js/chat.js"></script>
    </body>
</html>